@import url('./aruma/style.css');

:root {
  --webColor: #325cd9;
  --borderRadius: 0.5rem;
  --priColor: #053793;
  --boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

p {
  font-size: 1.3rem;
}

button {
  all: unset;
  cursor: pointer;
  background-color: var(--priColor);
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 1rem 0.5rem;
  height: 100%;
  border-radius: 0.3rem;
  margin: 1rem 0;
  width: 100%;
}

body {
  /* background-color: var(--bodyBgColor); */
  overflow-x: hidden;
  font-family: 'Aruma Regular';
  font-weight: 900;
  background-image: linear-gradient(
      45deg,
      rgba(19, 13, 12, 0.75),
      rgba(5, 17, 29, 0.75)
    ),
    url("https://thumbs.dreamstime.com/b/muitas-bandeiras-de-v%C3%A1rios-estados-como-s%C3%ADmbolo-da-coopera%C3%A7%C3%A3o-mundial-pavilh%C3%B5es-dos-pa%C3%ADses-do-mundo-sobre-as-que-piscam-o-224354603.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
